@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@font-face {
  font-family: MateSC-Reular;
  src: url("../font/MateSC-Regular.ttf");
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

hr {
  margin: 0;
}

.header {
  background: #cad0d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#cad0d0), color-stop(32%, #f8fafa), to(white));
  background: linear-gradient(180deg, #cad0d0 0%, #f8fafa 32%, white 100%);
}

.header ul li a {
  font-size: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 2rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  font-weight: bold;
}

.header-section {
  position: relative;
}

.header-section_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.header-section_item picture {
  left: 2rem;
  margin: 1rem;
}

.header-section_item h1 {
  font-size: 6rem;
  width: 100%;
  text-align: center;
  margin: auto;
}

.header-section-time p {
  margin: 1rem 0;
  font-size: 1.8rem;
  text-align: center;
}

.header-section-time p a {
  text-decoration: none;
  font-weight: bold;
}

.main {
  margin: 3rem 0;
}

.main-content {
  margin: 5rem 2rem;
  text-align: center;
}

.main .container {
  max-width: 100%;
}

.carousel-inner {
  height: 250px;
}

.item {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
  width: 100%;
  height: 250px;
  -webkit-transition: 1s ease box-shadow;
  transition: 1s ease box-shadow;
  margin: 1rem 0;
}

.item a {
  text-decoration: none;
  color: black;
}

.item:hover {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.item-img {
  overflow: hidden;
  text-align: center;
  height: 65%;
}

.item img {
  max-width: 132px;
  max-height: 132px;
  padding: 5px;
  -webkit-transition: 1s ease transform;
  transition: 1s ease transform;
}

.item:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item-title {
  text-align: center;
  padding: 1rem;
}

.item-title h3 {
  font-size: 16px;
}

.footer {
  padding: 2rem 0;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(45%, #e7eaea), to(#ccd2d2));
  background: linear-gradient(180deg, white 0%, #e7eaea 45%, #ccd2d2 100%);
}

.footer .container-maps {
  width: 100%;
  margin: 0 0;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer .footer-persdata {
  font-size: 1.5rem;
  text-align: center;
}

.footer .footer-dogovor-oferta {
  font-size: 1.5rem;
  text-align: center;
}

.pd_footer_title {
  font-size: 3rem;
  font-weight: bold;
}

.pd_footer_title h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.pd_footer_text2 {
  font-size: 1.6rem;
  margin-left: calc(100%/4);
}

ymaps {
  margin: auto;
}

.politika {
  margin: 2rem 0;
}

.copypast {
  text-align: center;
  font-size: 1.4rem;
  margin: 0 2rem;
}

.bottomUpArrow {
  display: none;
}

.bottomUpArrow img {
  width: 40px;
  position: fixed;
  right: 20px;
  top: 93vh;
}

.bottomActiv {
  display: block;
}

@media screen and (max-width: 1200px) {
  .main-content {
    margin: 2rem 2rem;
  }
  .carousel-inner {
    height: 210px;
  }
}

@media screen and (max-width: 768px) {
  .header-section .header-section_item picture img {
    width: 150px;
  }
  .header-section .header-section_item h1 {
    font-size: 5rem;
  }
  .pd_footer_text2 {
    margin-left: calc(100%/10);
  }
}

@media screen and (max-width: 570px) {
  .header-section .header-section_item picture img {
    width: 100px;
  }
  .header-section .header-section_item h1 {
    font-size: 3rem;
  }
  .main-content {
    margin: 1rem 2rem;
  }
  .carousel-inner {
    height: 175px;
  }
}

@media screen and (max-width: 415px) {
  .carousel-inner {
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */